body {
	background-color: #0066FF
}
#container {
	margin: 0 auto; /* Center */
	margin-top: 100px;
	width: 600px;
	height: 400px;
}

#logo {
	float: left;
	height: 396px;
	width: 336px;
	/* border: solid 2px; */ /* Wrong height with border, there is a border in the picture in the manual, how? Write over picture? */
}
#login {
	float: right;
	width: 246px;
	height: 86px;
	position: relative; /* Relative to container */
	background-color: white;
	border: solid 2px;
}

#signup {
    margin-top: 10px;
	float: right;
	width: 246px;
	height: 296px;
	position: relative;
	background-color: white;
	border: solid 2px;
}
input:not([type=submit]):not([type=file]), select { /* CSS for all input except Submit, File */
	/* Box model for form elements */
	-webkit-box-sizing: border-box; /* Same size with box-sizing, one for chrome, ff, and other */
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 45%;
	position: relative;
	float: right;
	border-radius: 5px; /* Rounded edged */
	border: 2px solid blue;
	-webkit-box-shadow:
		inset 0 0 2px  rgba(0,0,0,0.1),
			  0 0 5px rgba(0,0,0,0.1);
	-moz-box-shadow:
		inset 0 0 2px  rgba(0,0,0,0.1),
			  0 0 5px rgba(0,0,0,0.1);
	box-shadow:
		inset 0 0 2px  rgba(0,0,0,0.1),
			  0 0 5px rgba(0,0,0,0.1);
	background: rgba(255,255,255,0.5);
	margin: 0 0 5px 0;
			
			
}

input.submitbutton {
    position: absolute;
    right: 3px;
    bottom: 3px;
	border-radius: 5px;
	border: 1px solid red;
	
	-webkit-box-sizing: border-box; /* Same size with box-sizing, one for chrome, ff, and other */
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	-webkit-box-shadow:
		inset 0 0 2px  rgba(0,0,0,0.1);
	-moz-box-shadow:
		inset 0 0 2px  rgba(0,0,0,0.1);
	box-shadow:
		inset 0 0 2px  rgba(0,0,0,0.1);
	background: rgba(255,255,255,0.5);
}


label {
	text-align: right;
	clear: both;
	float: left;
	margin-right: 5px;
	margin-left: 2px;
}

#signupHead {
	width: 90%;
	color: darkblue;
	position: relative;
	margin: 0 auto;
	margin-top: 5px;
}

#errorBox {
    height: 60px;
    width: 600px;
    margin: 20px auto;
    padding: 20px;
    color: rgba(255,0,0,1);
    background-color: #b80000;
    border: 2px rgba(255,0,0,1) solid;
    visibility: hidden;
    
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#signupForm {
	float: top;
	/* position: relative; */ /* Problems with placing submitbutton bottom right if relative */
	margin: 0 auto;
	margin-top: 6px;
}

#loginForm {
	float: top;
	/* position: relative; */
	margin: 0 auto;
	margin-top: 6px;
} 
